<%= form_for(@billtaxinvoice) do |f| %>
  <% if @billtaxinvoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billtaxinvoice.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @billtaxinvoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<br/>
<%= semantic_form_for(@billtaxinvoice) do |f| %>
	<%= f.inputs do %>		
		<b><%= "เลขที่" %></b><font style="margin-left : 16.3em; ">BT<%= @billtaxinvoice.doc_number[0..1] %>/<%= @billtaxinvoice.doc_number[2..5] %>
	<% end %>
<% end %>

<%= semantic_form_for(@invoice) do |f| %>
	<%= f.inputs do %>		
<!-- 		<%= f.input :customer ,:label=>"Customer ", :as => :select , :member_label => :custname  ,:input_html => { :disabled => true } %>  -->
		<b><%= 'ลูกค้า' %></b><font style="margin-left : 16.1em; "><%= @invoice.customer.custname%></font></br></br>
<!-- 		<%= f.input :title ,:label=>"Title ",:input_html => { :disabled => true } %> -->
		<b><%= 'ชื่องาน' %></b><font style="margin-left : 15.7em; "><%= @invoice.title%></font></br></br>
	<% end %>
<% end %>
  
<%= semantic_form_for(@billtaxinvoice) do |f| %>
    <font style="font-size : 0.85em;"></font>
    <b><%= 'อัตราภาษี' %></b><font style="margin-left : 14em; ">
		    <% if @billtaxinvoice.tax %>
		      ภาษี 7%
		    <% else %>
		      ไม่คิดภาษี
		    <% end %>
    </font></br></br>
    <% if (request.url)["new"] != nil || (request.url) == "http://localhost:3000/billtaxinvoices" %>
<!--	<font color="black">
	<%= f.inputs do %>
		<font size="2.5"><%= f.input :complete, :as => :radio, :label => "Deliver *", :collection => {"None complete" => false, "Complete" => true}, :default => false ,:input_html => { :disabled => true }%></font>
		  CANCLE 
		<font size="2.5"><%= f.input :cancel, :as => :radio, :label => "Status *"  , :collection => {"Ready" => false, "Cancel" => true}, :default => false ,:input_html => { :disabled => true }%>
		<% f.input :type %>
	<% end %>-->
    <% else %>
	<font color="black">
	<%= f.inputs do %>
		<font style="font-size : 0.85em;"><%= f.input :complete, :as => :radio, :label => "สถานะการส่ง", :collection => {"ยังไม่ส่งลูกค้า" => false, "ส่งลูกค้าเรียบร้อย" => true}, :default => false %></font>
		<!--  CANCLE -->
		<font style="font-size : 0.85em;"><%= f.input :cancel, :as => :radio, :label => "สถานะ"  , :collection => {"ใช้งาน" => false, "ยกเลิก" => true}, :default => false %></font>
		<% f.input :type %>
	<% end %>
    <% end %>

	<%= f.buttons %>
<% end %>
