<h1>Listing companies</h1>
<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<table>
  <tr>
    <th>Compname</th>
    <th>Compaddress</th>
    <th>Comptel</th>
    <th>Compfax</th>
    <th>Comptax</th>
    <th>Compauthor name</th>
    <th>Compauthor position</th>
    <th>Compauthor tel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.compname %></td>
    <td><%= company.compaddress %></td>
    <td><%= company.comptel %></td>
    <td><%= company.compfax %></td>
    <td><%= company.comptax %></td>
    <td><%= company.compauthor_name %></td>
    <td><%= company.compauthor_position %></td>
    <td><%= company.compauthor_tel %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
<!--     <td><%= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Company', new_company_path %> -->
