<!--<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>-->

<h1>เพิ่มรายการ</h1><br />
<%= render "form" %> 
<!-- <%= cookies[:back] = request.referer %> -->

<% if ((request.url).split('http://localhost:3000/').last).split('/').first == 'quotations'  %>
<%= link_to back, manageitem_quotation_path(@quotation) %>
<% end %>

<% if ((request.url).split('http://localhost:3000/').last).split('/').first == 'receipts'  %>
<%= link_to back, manageitem_receipt_path(@receipt) %>
<% end %>