<% flash .each do |key, value| %>
  <%= content_tag(:div, value, :class => "flash #{key}") %> 
<% end %>

<h1 class="center">ใบสำคัญรับเงิน</h1>

<table class="show_quota" > 
  <tr>
    <p>
      <td width=200px><b>เลขที่ : </b></td>
      <td>R<%= @receipt.doc_number[0..1] %>/<%= @receipt.doc_number[2..5] %></td>
    </p>
  </tr>
  <tr>
    <p>
      <td><b>ลูกค้า : </b></td>
      <td><%= @receipt.customer.custname %></td>
    </p>
  </tr>

  <tr>
    <p>
      <td><b>ที่อยู่ : </b></td>
      <td><%= @receipt.customer.custaddress %> 
	<% if @receipt.customer.custstreet != nil  %>ถนน<%= @receipt.customer.custsub_district %><% end %>
	<% if @receipt.customer.province.province_name == "กรุงเทพมหานคร" %>แขวง<%= @receipt.customer.custsub_district %> เขต<%= @receipt.customer.custdistrict %> <%= @receipt.customer.province.province_name %>
	<% else %>ตำบล<%= @receipt.customer.custsub_district %> อำเภอ<%= @receipt.customer.custdistrict %> <%= @receipt.customer.province.province_name %><% end %>
      </td>
    </p>
  </tr>
  <tr>
    <p>
      <td><b>อัตราภาษี : </b></td>
      <td><% if @receipt.tax  %>
	    <%= 'ภาษี 7%'%>
	  <% else %>
	    <%= 'ไม่คิดภาษี' %>
	  <% end %>
      </td>
    </p>
  </tr>
  <tr>
    <p>
      <td><b>สถานะการส่ง : </b></td>
      <td>
	    <% if @receipt.complete  %>
	      <font color=green ><%= 'ส่งเอกสารให้ลูกค้าเรียบร้อย' %></font>
	    <% else %>
	      <font color=red><%= 'ยังไม่ส่งเอกสารให้ลูกค้า' %></font>
	    <% end %>
	  
      </td>
    </p>
  </tr>
  <tr>
    <p>
      <td><b>สถานะ : </b></td>
      <td><% if @receipt.cancel  %>
	    <%= 'ยกเลิก'%>
	  <% else %><%= 'ใช้งาน' %>
	  <% end %>
	  <% @receipt.cancel %>
      </td>
    </p>
  </tr>

</font>
</table>

<!-- <h3>Items</h3> -->
  <%= render :partial => "items/item" %>
  
    <% if @receipt.approve == nil && @receipt.cancel != true %>
      <%= button_to 'เพิ่มรายการ',new_receipt_item_path(@receipt) ,:method => :get %>
    <% end %>
  
<!--  else %> button_to 'Add item',new_receipt_item_path(@receipt) ,:method => :get %> -->
<!--  end %> -->
<br />
<% @comp %>
<% flash[:notice] = "receipt was successfully updated." %>
<% if @comp==0%>
  <%= button_to 'Complete',@receipt ,:confirm => 'No item for receipt , Receipts will be deleted ?',:method => :delete ,:class=>"center"%>
<% else %>
  <%= button_to 'Complete',@receipt ,:method => :get ,:class=>"center"%>
<% end %>


  <%= link_to back, request.referer %>